{% extends "base.html" %}
{% block content %}

<!-- <ul class="list-group">
  {% for tweet in tweets %}
  <li class="list-group-item"> {{ tweet.id }} - {{ tweet.text }}</li>
  {% endfor %}
</ul> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>User: <a href="https://twitter.com/{{ title }}">@{{ title }}</a></h2>
            <p>{{ message }}</p>
        </div>
    </div>
  {% for tweet in tweets %}
  <div class="row">
    <div class="col-md-6">
      {{ tweet.created_at }}
    </div>
    <div class="col-md-6">
      {{ tweet.text }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}