{% extends "base.html" %}
{% block content %}

<h2>User: <a href="https://twitter.com/{{ title }}">@{{ title }}</a></h2>
<p>{{ message }}</p>

<ul class="list-group">
  {% for tweet in tweets %}
  <li class="list-group-item"> {{ tweet.id }} - {{ tweet.text }}</li>
  {% endfor %}
</ul>

<div class="container">
    <div class="row">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3`
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>

{% endblock %}